---
layout: default
published: true
---

<div class="posts">
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <article class="post">
  <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
   <div class="entry">
        {{ post.excerpt }}
   </div>
   <a class="button" style="font-size: 12px;" href="{{ site.baseurl }}{{ post.url }}"><span class="fas fa-hand-point-right"></span>&nbsp;Sigue leyendo</a>
  </article>
{% endfor %}
</div>

<!-- Pagination links -->

<div style="text-align: center; margin-top: 10px; margin-bottom: 25px;">
  {% if paginator.previous_page %}
    <a class="button" style="font-size: 12px;" title="Ve a la página anterior" href="{{ paginator.previous_page_path }}"><span class="fas fa-chevron-circle-left"></span>&nbsp;Página previa</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} de {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    &nbsp;&nbsp;&nbsp;&nbsp;<a class="button" style="font-size: 12px;" title="Ve a la página siguiente" href="{{ paginator.next_page_path }}"><span class="fas fa-chevron-circle-right"></span>&nbsp;Página posterior</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
