@import "{{ site.theme }}";

.wrapper-footer{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.widget_sp_image img {
    border-radius: 50%;
    width: 200px;
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto;
}