---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>
  
  <div style="margin-bottom: 20px;">
  <a  href="https://twitter.com/intent/tweet?text='{{ page.title }} vía @blogpocket'&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Twitter" >
    <i class="svg-icon twitter"></i>  Twittéalo
        </a>
  </div>
 
  <div class="date">
    Publicado el {{ page.date | date: "%e-%m-%Y" }}
  </div>

  {% include disqus.html %}
</article>
