---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>
  
 <div style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
<a class="button" style="font-size: 10px;" title="Compártelo en Twitter" href="http://twitter.com/intent/tweet?text='{{ page.title }} vía @blogpocket'&url={{ page.url | prepend: site.url }}"><span class="fab fa-twitter"></span>&nbsp;Twittéalo</a>
</div>
 
  <div class="date">
    Publicado el {{ page.date | date: "%e-%m-%Y" }}
  </div>

  {% include disqus.html %}
</article>
